@tailwind base;
@tailwind components;
@tailwind utilities;

#tns1-mw {
  overflow: visible;
}

.tns-slider .tns-item:last-child {
  padding-right: 0 !important;
}

.focused {
  @apply rounded-b-none border-white drop-shadow-lg;
}

.accordion-header.selected {
  background-image: url("../dist/images/active-arrow.svg");
  @apply rounded-b-none border-2 border-b-0 border-accent drop-shadow-lg;
}

.accordion-header.selected + .accordion-body {
  @apply border-2 border-t-0 border-accent;
}

@media screen and (max-width: 767px) {
  #stake .accordion-header,
  #borrow .accordion-header {
    background-image: none !important;
  }
}

.tns-autowidth {
  display: flex;
}

button.selected {
  @apply bg-accent text-white outline outline-[3px] outline-accent;
}

.table-head-title.selected {
  @apply text-accent;
}
